{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block body %}

</div>

{# text #}
<div class="subpagephoto">
<div class = "row">

  <div class = "large-12 columns">
    <h1>
      <span class="subpagetext">
      What is Neurodining? 
      </span>
    </h1>
    <p>
      <span class="subpagetextp">
NeuroDining is reshaping the landscape of luxury. We provide a new way for the experienced palate to explore New York City’s finest restaurants.  Whether you have adventurous taste buds, a hectic work schedule, clients to entertain or all of the above, NeuroDining ensures a dining experience that is certain to impress. 

As reliable patrons, we make our diners visible to restaurants and eateries.  We live by our list of carefully selected restaurants and utilize member feedback to attain the highest quality of personalization for our members.  <a href="/service"> Our system </a> is designed so that our members can focus on what truly matters: the satisfaction of sharing an exquisite meal with  friends, family, or clients.   
</p>


<p>
      <span class="subpagetextp">
In the age of Yelp, OpenTable and UrbanDaddy, quality food and reliable reviews are often sacrificed for the sake of expediency.  Diners from vastly different backgrounds have a wide range of expectations that you can’t be certain fit yours.  Worst of all, these services are usually not even so expedient, with the average user taking between 10 and 15 minutes to confirm reservations.  By the time you wade through endless and questionable reviews, you then face the headache of low availability and booked venues. NeuroDining members make reservations at New York City’s top restaurants in less than 1 minute.    
  </span> 
    </p>
  </div>
  </div>
</div>
</div>
    
    {% endblock %}