{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block body %}

{# fancy font from google fonts #}
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

{# fixed top bar #}
<div class = "fixed">
<div class="barbox">
<div class="row">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        {# logo with link to home #}
      <a href="/">
        <div class = "logo">
          <img src="{{ url_for('static', filename='img/logo.png', _external=True) }}" height="50" width="100" style="PADDING-RIGHT: 1rem" style="PADDING-TOP: 3em" class="clearfix"/>
        </div>
      </a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a class="active" href="/about">About</a></li>
      <li><a class="active" href="/service">Service</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/ourstory">Our Story</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </section>
  </nav>
</div>
</div>
</div>

{# content #}

<div class="row">
<div class="orbit-container">
  <ul data-orbit class="orbit-slides-container">
    <li>
      <img src="http://placehold.it/200x250"/>
      <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li class="active">
      <img src="http://placehold.it/200x250"/>
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/200x250"/>
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>

  {# Navigation Arrows #}
  <a href="#" class="orbit-prev">Prev <span></span></a>
  <a href="#" class="orbit-next">Next <span></span></a>

  {# Slide Numbers #}
  <div class="orbit-slide-number">
    <span>1</span> of <span>3</span>
  </div>

  {# Timer and Play/Pause Button #}
  <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress"></div>
  </div>
</div>

{# Bullets #}
<ol class="orbit-bullets">
  <li data-orbit-slide-number="1"></li>
  <li data-orbit-slide-number="2" class="active"></li>
  <li data-orbit-slide-number="3"></li>
</ol>

</div>

{# text #}
<div class="subpagephoto">
<div class = "row">

  <div class = "large-12 columns">
    <h1>
      <span class="subpagetext">
      What is Neurodining? 
      </span>
    </h1>
    <p>
      <span class="subpagetextp">
NeuroDining is reshaping the landscape of luxury. We provide a new way for the experienced palate to explore New York City’s finest restaurants.  Whether you have adventurous taste buds, a hectic work schedule, clients to entertain or all of the above, NeuroDining ensures a dining experience that is certain to impress. 

As reliable patrons, we make our diners visible to restaurants and eateries.  We live by our list of carefully selected restaurants and utilize member feedback to attain the highest quality of personalization for our members.  <a href="/service"> Our system </a> is designed so that our members can focus on what truly matters: the satisfaction of sharing an exquisite meal with  friends, family, or clients.   
</p>


<p>
      <span class="subpagetextp">
In the age of Yelp, OpenTable and UrbanDaddy, quality food and reliable reviews are often sacrificed for the sake of expediency.  Diners from vastly different backgrounds have a wide range of expectations that you can’t be certain fit yours.  Worst of all, these services are usually not even so expedient, with the average user taking between 10 and 15 minutes to confirm reservations.  By the time you wade through endless and questionable reviews, you then face the headache of low availability and booked venues. NeuroDining members make reservations at New York City’s top restaurants in less than 1 minute.    
  </span> 
    </p>
  </div>
  </div>
</div>
</div>


          

     
 
       
{# footer #}    
<footer class="row">
  <div class="large-12 columns">
    <hr/>
      <div class="row">
        (C) 2015 Point Taken LLC. All rights reserved. <a href="/privacypolicy">Privacy Policy</a>
        <div class="large-6 columns"></div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a class="active" href="http://www.facebook.com/neurodining/" target="blank"><img src="{{ url_for('static', filename='img/fs.png', _external=True) }}" /> </a></li>
            <li><a class="active" href="http://www.instagram.com/neurodining/" target="blank"><img src="{{ url_for('static', filename='img/igs.png', _external=True) }}" /> </a></li>
          </ul>
        </div>
      </div>
  </div>
    </footer>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.orbit.js"></script>
    
    {% endblock %}