{% extends "base.html" %}

{% block title %}
community
{% endblock %}

{% block body %}

{# text #}
<div class="subpagephoto">
<div class = "row">

<div class="large-3 columns">
  <p></p>
</div>
  <div class = "large-6 columns">
    <h1>
      <span class="subpagetext">
      Community
      </span>
    </h1>
    <p>
      <span class="subpagetextp">

More than just exquisite food, NeuroDining is a community of reliable diners.  We cultivate relationships between our restaurants and our patrons so that NeuroDiners can count on excellent service and recognition from their favorite eateries.  Likewise, restaurants can rely on the unique status of our members to be respectable customers. Our members are from various backgrounds, but all share a love of fine food and an expectation to be treated well by those who are serving it.  As a NeuroDiner, you will be part of an elegant ecosystem where both diners and restaurants support each other. 
  </span> 
    </p>
  </div>
<div class="large-3 columns">
  <p></p>
</div>
  </div>
</div>
</div>
    
    {% endblock %}