{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block body %}

{# text #}
<div class="subpagephoto">
<div class = "row">

  <div class = "large-12 columns">
    <h1>
      <span class="subpagetext">
      Contact Us
      </span>
    </h1>

    {# contact form #}


    <div class="row">

  <div class="large-8 column">
    <p>
    <span class="subpagetextc">
    Email:   contact@neurodining.com
    </span>
    </p>
  
  <form action="!!!!!!!!!!!" method="post">
    <input type="text" placeholder="email address" name="!!!!!!!!!!" required/>
    <input type="text" placeholder="message" name="!!!!!!!!!" required/>
    <button type="submit">Send</button>
  </form>
</div>

<div class="large-4 column">
    <p></p>
  </div>

</div>
  </div>
  </div>
</div>
</div>
    
    {% endblock %}