{% extends "base.html" %}

{% block title %}
Neurodining
{% endblock %}

{% block body %}

          
{# grid of pictures #}
<div class="mygrid">   
  <div class="row collapse">
    {# left half of grid #}
    <div class="large-7 small-6 columns medium-6 columns">
      <div class = "row collapse">
        <div class = "large-12 small-12 columns medium-12 columns">
          
          <div class="panel">
            <p> 
               <a class="active" href="/about">
              <img src="{{ url_for('static', filename='img/8(resized).png', _external=True) }}" /></a> 
            </p>

          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="large-4 small-12 columns medium- columns">
          <div class="panel">
            <p>
              <a class="active" href="/ourstory" ><img src="{{ url_for('static', filename='img/11(resized).jpg', _external=True) }}" /> </a>
            </p>
          </div>
        </div>
        <div class="large-8 small-12 columns medium-12 columns">
          <div class="panel">
            <p>
               <a class="active"><img src="{{ url_for('static', filename='img/55(resized).jpg', _external=True) }}" /> </a>
            </p>
          </div>
        </div>
      </div>
        
    </div>
     
    {# right half of grid #}
    <div class="large-5 small-6 columns medium-6 columns">
      <div class = "row collapse">
        <div class = "large-6 small-12 columns medium-12 columns">
          <div class="panel">
            <p>
              <a class="active" href="/service">
              <img src="{{ url_for('static', filename='img/33(resized).jpg', _external=True) }}" /></a>
            </p>
          </div>
        </div>

        <div class="large-6 small-12 columns medium-12 columns">
          <div class="panel">
            <p>
              <a class="active" href="/contact">
              <img src="{{ url_for('static', filename='img/19(resized).png', _external=True) }}" /></a>
            </p>
          </div>
        </div>

      </div>

      <div class = "row collapse">
        <div class = "large-12 small-12 columns medium-12 columns">
          <div class = "panel">
            <p>
              <a class="active" href="/community"><img src="{{ url_for('static', filename='img/4(resized).png', _external=True) }}" /> </a>
            </p>
          </div>
        </div>
      </dic>

    </div>

  </div>
</div>
    
    {% endblock %}