{% extends "base.html" %}

{% block title %}
Our Story
{% endblock %}

{% block body %}

{# text #}
<div class="subpagephoto">
<div class = "row">

  <div class = "large-12 columns">
    <h1>
      <span class="subpagetext">
      Our Story
      </span>
    </h1>
    <p>
      <span class="subpagetextp">
Founders Hitomi Kimura and Eiko Nakazawa have firsthand experience with the problems of fine dining as a busy professional in an urban environment.  As a former banker and corporate executive, respectively, they know that searching for an exquisite meal is time consuming and risky - from endless web pages with unreliable ratings to an ever changing landscape of eateries. Frustrated by these obstacles and armed with adventurous taste buds, Hitomi and Eiko set out to map the high end restaurants of New York City.  Many delicious meals later, Neuroding was born.  
 </span> 
    </p>
    <p>
      <span class="subpagetextp">
Hitomi and Eiko now constantly work to maintain a list of restaurants that is carefully curated through extensive research and personal experience.  They have dined at more than 400 restaurants in New York City alone, taking attentive notes (and enjoying a glass of wine here and there). 
    </span> 
    </p> 
<p>
      <span class="subpagetextp">
But NYC is just the beginning. Both Hitomi and Eiko have travelled to, lived and dined in many cities around the world. The founders will utilize these experiences in the expansion of NeuroDining to encompass a global community of like-minded epicureans.   

  </span> 
    </p>
  </div>
  </div>
</div>
</div>
    
    {% endblock %}