{% extends "base.html" %}

{% block title %}
Reservation History
{% endblock %}

{% block body %}

{# container #}

<div class="subpagephoto">
<div class="row">    
          
<div class="large-9 push-3 columns">
    <h3><span class="subpagetext">Reservation History</span></h3>
    <p><span class="subpagetextp">
        There is no reservation history.
    </span></p>
</div>


 
 
<div class="large-3 pull-9 columns">
    
  <ul class="side-nav">
    <li><a href="/start_reservation">Start Reservation</a></li>
    <li><a href="/upcoming_reservation">Upcoming Reservation</a></li>
    <li><a href="/reservation_history">Reservation History</a></li>
    <li><a href="/account_management">Account Management</a></li>
    <li><a href="/restaurant_categories">Restaurant Categories</a></li>
    <li><a href="/give_feedback">Give Feedback</a></li>
  </ul>
    
</div>

</div>
</div>

    
{% endblock %}