{% extends "base.html" %}

{% block title %}
Service
{% endblock %}

{% block body %}

{# text #}
<div class="subpagephoto">
<div class = "row">

  <div class = "large-12 columns">
    <h1>
      <span class="subpagetext">
      Our Service
      </span>
    </h1>
    <p>
      <span class="subpagetextp">
Neurodining selects a restaurant for you from the top 200 grade A dining establishments in New York City.  Restaurants must meet rigid criteria that is necessary to serve the needs of our patrons.  Our list is updated daily to reflect the latest member feedback and new openings. 
 
  </span> 
    </p>
  </div>
  </div>
</div>
</div>
    
    {% endblock %}